<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

  
<div ng-controller="sg">
   
            
       
    <label for="name">username</label><input type="text" name="name" ng-model="username" required="true"/></br
    <label>password</label><input type="text" ng-model="password" required=""/></br>
    <label>email</label><input type="text" ng-model="email"/></br>
    <input type="submit" value="submit" ng-click="onclick()"/>
     
</div>
  
